@{
    ViewData["Title"] = "Add Movies";
}

@model mission5.Models.AddMovie

<h1>Fill out the following information to add a new movie</h1>

<div>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="Category">Category: </label>
        <input asp-for="Category" /><br />

        <label asp-for="Title">Title: </label>
        <input asp-for="Title" /><br />

        <label asp-for="Year">Year: </label>
        <input asp-for="Year" /><br />

        <label asp-for="Director">Director: </label>
        <input asp-for="Director" /><br />

        <label asp-for="Rating">Rating: </label>
        <select asp-for="Rating">
            <option value="R">R</option>
            <option value="PG-13">PG-13</option>
            <option value="PG">PG</option>
            <option value="G">G</option>
        </select><br />

        <label asp-for="Edited">Edited: </label>
        <select asp-for="Rating">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select><br />

        <label asp-for="LentTo">Lent to: </label>
        <input asp-for="LentTo" /><br />

        <label asp-for="Notes">Notes: </label>
        <input asp-for="Notes" /><br />
        <button type="submit">Submit</button>
    </form>
</div>