@{
    ViewData["Title"] = "Successfully Added Movie";

}


<h1>@ViewData["Title"]</h1>

<p>Thanks for your support! Please feel free to add any more movies that you have watched</p>

<a href="https://imdb.com/" target="_blank">Or maybe look around for some movies to watch on IMDB?</a>