@{
    ViewData["Title"] = "Delete Movie";
}

@model AddMovie

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to remove '@Model.Title' from the movies list?</h3>
<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="MoviesList" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="MovieId" />
</form>