@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is an awesome picture of Joel Hilton</p>
    <img src="img/JoelHilton.jpg" width="600px" />
</div>
