@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>Here is the page for podcasts, because podcasts are great</p>

<a href="https://baconsale.com/" target="_blank">Check out baconsale.com</a>
